<div class="item">
    <div class="strip">
        <figure>
            <span class="ribbon off">Promociones</span>
            <img src="~/Content/images/Restaurants/CaramelCoffee/logo.png" data-src="../Content/images/Restaurants/CaramelCoffee/logo.png" class="owl-lazy" alt="" width="460" height="310">
            <a href="/CaramelCoffee/Index" class="strip_info">
                <small>Coffee</small>
                <div class="item_title">
                    <h3>Caramel Coffee</h3>
                    <small>Kitchen Park</small>
                </div>
            </a>
        </figure>
        <ul>
            <li><span class="take yes">Dine-in</span> <span class="deliv yes">Delivery</span> <span class="take yes">Take Out</span></li>
            <li>
                @*<div class="score"><strong>8.9</strong></div>*@
            </li>
        </ul>
    </div>
</div>